{% if menu %}

  <ul class="list-reset flex {% if isSubMenu %} submenu flex-col{% else %} flex-col lg:flex-row{% endif %}">

    {% for item in menu %}

      <li class="nav-menu-item close-menu">
        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.html.twig" with {
          "menu" : item.get_children,
          "isSubMenu" : true
        } %}

      </li>

    {% endfor %}

  </ul>

{% endif %}