<section class="section" style="background-image: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80)">
  <div class="separator min-h-40 w-full">
    <div class="container h-full flex flex-col justify-center text-white text-2xl">
      <div class="row">
        <div class="col w-8/12 ml-1/12 quote">
          <p class="text-4xl text-white font-display font-bold leading-tight">
            {{ quote }}
          </p>
          <span class="name text-4xl text-white font-display font-bold leading-tight">{{ name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>