{% if banner_index is not defined %}
  {% set banner_index = 1 %}
{% endif %}

<section class="section text-white font-display font-bold text-2xl md:text-4xl lg:text-5xl xl:text-6xl">
  <div class="separator p-separator relative{% if text is not defined %} separator-no-text{% endif %} w-full">
    <div class="separator-background overflow-hidden absolute inset-0 bg-red z-10">
      <figure class="paralax">
        <img src="{{ theme.link }}/images/banner_{{ banner_index }}.jpg" alt="">
      </figure>
    </div>
    <div class="container h-full flex flex-col justify-center relative z-20">
      <div class="row">
        <div class="col md:w-8/12 md:ml-1/12 {% if name %} quote{% endif %}">
          <p class="leading-tight">
            {{ text }}
          </p>
          {% if name %}
            <span class="name">{{ name }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>