<section class="section" style="background-image: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80)">
  <div class="separator h-40 w-full">
    <div class="container">
      <div class="row">
        <div class="col ml-1/12">
          <p class="text-4xl text-white font-display font-bold leading-tight">
            {{ text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>