<div class="swiper-container">

  <div class="swiper-wrapper">

    {% for slide in slides %}

      <div class="swiper-slide">
        {{ slide }}
      </div>
      
    {% endfor %}

  </div>

  <div class="swiper-pagination"></div>

</div>