{% extends "core/base.html.twig" %}

{% block main %}

  {% embed "layout/section.html.twig" %}

    {% block section %}

      <h2>{{ post.type }}</h2>

    {% endblock %}

  {% endembed %}

{% endblock %}
