{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset'] %}

{% block main %}

  {% set banner_index = 1 %}

  <section class="pt-28 pb-6">
    <div class="container">
      <div class="row">
        <div class="col md:w-6/12 md:ml-1/12">
            <h1>{{ post.title }}<br>&mdash; Workshop</h1>
        </div>
      </div>
    </div>
  </section>

  {% include "components/flexible-content.html.twig" with {
    flexible_content: post.meta('flexible_content')
  }  %}

{% endblock %}
