{# Modular page #}

{% extends "core/base.html.twig" %}

{% set main_class = ['header-offset'] %}

{% block main %}

  <section class="pt-12">
    <div class="container">
      <div class="row">
        <div class="col w-6/12 ml-1/12">
            <h1>{{ post.meta('page_title') }}</h1>
        </div>
      </div>
    </div>
  </section>

  {% include "components/flexible-content.html.twig" with {
    flexible_content: post.meta('flexible_content')
  } %}

  {% include "components/cta-footer.html.twig" with {
    text: post.meta('page_footer')
  } %}

{% endblock %}
