<div class="footer-overflow-background bg-gray-900"></div>

<div class="footer-wrapper relative">

  <footer class="section footer-main bg-gray text-white z-50">
    <div class="container">

      <div class="row">
        <div class="col w-4/12 ml-1/12">
          <p class="font-display font-bold text-4xl my-6">Amsterdam</p>
          <p class="font-bold">Relationships International - Amsterdam</p>
          <p>Julie Sharon-Wagschal</p>
          <ul class="py-4">
            <li>T 06 451 803 42</li>
            <li>E amsterdam@relationshipsinternational.nl</li>
          </ul>
            <p>Groot Blankenberg 56<br>1082 AD Amsterdam</p>
          <p class="py-4">
            The practice can be reached with tram 5 and 51, and bus 62. IMPORTANT: Street parking is 1.40 euro per hour.
            Parking machines are located around the corner.
          </p>
        </div>

        <div class="col w-4/12 ml-1/12">
          <p class="font-display font-bold text-4xl my-6">The Hague</p>
          <p class="font-bold">Relationships International - Amsterdam</p>
          <p>Julie Sharon-Wagschal</p>
          <ul class="py-4">
            <li>T 06 451 803 42</li>
            <li>E amsterdam@relationshipsinternational.nl</li>
          </ul>
            <p>Groot Blankenberg 56<br>1082 AD Amsterdam</p>
          <p class="py-4">
            The practice can be reached with tram 9,bus 22.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col w-11/12 ml-1/12 flex justify-between items-end">
          <p class="opacity-50">
            Relationships International ©2019<br>
            Design: Studio of Things
          </p>
          <div style="width: 200px">
            <img src="{{ theme.link }}/images/logo-white.svg" alt="">
          </div>
        </div>
      </div>

    </div>
  </footer>

</div>