{% embed "layout/section.html.twig" with {
  section_tag : "header",
  section_class: ['header-main', 'header-unpin', 'z-50']
} %}

  {% block header %}

    <nav id="nav-main" class="nav-main" role="navigation">
      <div class="flex items-start justify-between">
        <div class="branding">
          <a href="{{ site.link }}">
            <span class="font-bold text-xl uppercase tracking-widest">Relationships International</span>
          </a>
        </div>
        
        <div class="nav-menu text-3xl lg:text-base z-40">
          {% include "components/menu.html.twig" with {
            "menu" : menu.get_items,
            "isSubMenu" : false
          } %}
        </div>

        <div class="nav-burger toggle-menu relative z-50">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <ul class="flex justify-start breadcrumps">
          <li>home</li>
          <li>about us</li>
          <li>workshops</li>
        </ul>
      </div>
    </nav>

  {% endblock %}

{% endembed %}
