.swiper-pagination {
  .swiper-pagination-bullet {
    @apply opacity-100 bg-white;
  }

  .swiper-pagination-bullet-active {
    @apply opacity-100 bg-gray;
  }
}

.swiper-pagination.brown {
  .swiper-pagination-bullet {
    @apply opacity-100 bg-gray;
  }

  .swiper-pagination-bullet-active {
    @apply opacity-100 bg-brown;
  }
}