@font-face {
  font-family: 'BasisGrotesquePro';
  font-style:  normal;
  font-weight: 700;
  src: url('basis-grotesque-bold-pro.eot?') format('eot'),
       url('basis-grotesque-bold-pro.woff2') format('woff2'),
       url('basis-grotesque-bold-pro.woff') format('woff'),
       url('basis-grotesque-bold-pro.ttf')  format('truetype');
}

@font-face {
  font-family: 'BasisGrotesquePro';
  font-style:  normal;
  font-weight: 500;
  src: url('basis-grotesque-medium-pro.eot?') format('eot'),
       url('basis-grotesque-medium-pro.woff2') format('woff2'),
       url('basis-grotesque-medium-pro.woff') format('woff'),
       url('basis-grotesque-medium-pro.ttf')  format('truetype');
}

@font-face {
  font-family: 'BasisGrotesquePro';
  font-style:  normal;
  font-weight: 400;
  src: url('basis-grotesque-regular-pro.eot?') format('eot'),
       url('basis-grotesque-regular-pro.woff2') format('woff2'),
       url('basis-grotesque-regular-pro.woff') format('woff'),
       url('basis-grotesque-regular-pro.ttf')  format('truetype');
}
