/* grid */
$section-offset: 48px;
$gutter: 32px;
$site-max-width: 1440px;
$site-offset: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: 157px;
/*  */
$burger-width: 1.5em;
$burger-height: 1em;